.button{
    padding: 14px 32px;
    border-radius: 20px;
    color: white;

    &:hover{
        opacity: .7;
    }
}


.primary-button{
    background-color: #13183F;
}
 
 

.secondary-button{
    background : linear-gradient(#F02AA6 ,#FF6F48);
}
 