@import './layout/reset.css';
.button {
  padding: 0.875rem 2rem;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.button-primary {
  background-color: var(--dark-blue);
}
.button-primary:hover {
  background-color: #666CA3;
}

.button-secondary {
  background: linear-gradient(#FF6F48, #F02AA6);
}
.button-secondary:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.button-idle {
  background: linear-gradient(#4851FF, #F02AA6);
}
.button-idle:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.heading {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Plus Jakarta Sans;
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Plus Jakarta Sans;
  src: url(../fonts/PlusJakartaSans-ExtraBold.ttf);
  font-weight: 700;
}
.card {
  padding: 1.5rem 1.75rem;
  border-radius: 10px;
  background-color: white;
}

:root {
  --light-blue: #666CA3;
  --dark-blue: #13183F;
  --light-grey: #83869A;
  --dark-pink: #F74780;
  --light-pink: #FFA7C3;
}

body {
  font-family: Plus Jakarta Sans;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  overflow-x: hidden;
  line-height: 28px;
}
@media (min-width: 1440px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 1.125rem;
  }
}

img {
  max-width: 100%;
}

p {
  color: var(--light-grey);
}

@media (max-width: 768px) {
  .container {
    margin: 0 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .container {
    margin: 0 2.5rem;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1110px;
    margin: auto;
  }
}

.header {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .hero {
    margin-top: 4.5rem;
  }
}
@media screen and (max-width: 1440px) {
  .hero {
    margin-top: 38px;
  }
}

@media screen and (min-width: 768px) {
  .courses {
    margin-top: 15.625rem;
  }
}

.footer {
  margin-top: 5rem;
}
